@font-face {
    font-family: abster;
    src: url(font/abster-webfont.woff) format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    /* height는 100%로하면 전체크기가 적용이 안됨 */
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/building-gaeda5cbfb_1920.jpg);
}

.container .header {
    width: 80%;
    /* 높이가 80% 위치에 기준 */
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* 요소가 좌우끝으로 붙어서 출력이되게 */
    align-items: center;
    /* 중앙정렬 */
}

.container .header h1 a {
    text-decoration: none;
    color: navajowhite;
    font-family: abster;
}

.container .nav ul li {
    display: inline-block;
    margin: 0 10px;
}

.container .header ul li a {
    text-decoration: none;
    color: white;
}

.container .header ul li a:hover {
    /* a태그에 마우스를 가져다 대면 색깔이 바뀌게 */
    color: navajowhite;
}

.container .seo_jun {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container .seo_jun h2 {
    font-size: 60px;
    margin-bottom: 20px;
    /* h2와 p태그의 간격 20px만큼 떨어짐 */
}

.container .seo_jun p {
    font-size: 22px;
}

.container .seo_jun button {
    background: none;
    border: 2px solid navajowhite;
    color: white;
    padding: 15px 20px;
    border-radius: 20px;
    /* 모서리 둥글게 */
    margin-top: 30px;
    /* 버튼과 두번째 텍스트의 간격을 주게 */
    outline: none;
    cursor: pointer;
    transition: 0.4s;
    /* 애니메이션 효과 */
}

.container .seo_jun button:hover {
    background-color: navajowhite;
}